
  .ne_h2 {
    font-weight: 'bold';
  }
  
  .ne_button {
    margin-right:50;
    margin-bottom:50;
  }
  
  .ne_table {
    width: 90%;
  }
  
  .ne_thead {
    background-color: '#b3cde0';
    color: '#3f51b5';
    font-weight:'bold';
    font-size:20
  }